<launch>
    <node pkg="tf" type="static_transform_publisher" name="world_coordinate" args="1.8016262765799302 0.476380025606396 3.5009048290204388 0.8769811617928699 0.026170986256625006 -0.08956410206924383 0.47137818464510395 /usb_cam/image_raw world 100" />
    <group ns="roomba21">
        <node pkg="roomba_control" type="roomba_control_node" name="roomba_control21" output="screen">

            <param name="world_frame" value="world"/>
            <param name="state_update_fq" value="30" />


            <param name="position_controller/kp" value="-2.00" />
            <param name="position_controller/kd" value="-0.05" />
            <param name="position_controller/ki" value="0.00" />
            <param name="position_controller/minVal" value="-500" />
            <param name="position_controller/maxVal" value="500" />
            <param name="position_controller/goal_tolerance" value="0.05"/>

            <param name="orientation_controller/kp" value="-15.0" />
            <param name="orientation_controller/kd" value="-5.00" />
            <param name="orientation_controller/ki" value="-0.5" />
            <param name="orientation_controller/minVal" value="-500" />
            <param name="orientation_controller/maxVal" value="500" />
            <param name="orientation_controller/goal_tolerance" value="0.01"/>

            <!-- change this setting for each robot-->
            <param name="robot_frame" value="tag21" />
            <param name="control_topic_pub" value="/cmd_vel" />
            <param name="goal_topic_sub" value="/move_base_simple/goal" />
            <param name="robot_index" value="21" />
        </node>

        <node pkg="roomba_control" type="roomba.py" name="roomba_action" output="screen">
            <!-- control_topic_pub should be the same as the roomba_control_node -->
            <param name="control_topic_pub" value="/cmd_vel"/>
        </node>
    </group>

    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find roomba_control)/launch/roomba.rviz" />
   
</launch>


