<launch>
    <node pkg="tf" type="static_transform_publisher" name="world_coordinate" args="2.0702797788352907 0.5784976352341031 3.8789791887589944 -0.017633649519061427 0.8761973380809723 -0.46235582375362383 -0.13488651298615822 /usb_cam/image_raw world 100" />
    <group ns="roomba21">
        <node pkg="roomba_control" type="roomba_control_node" name="roomba_control21" output="screen">

            <param name="world_frame" value="world"/>
            <param name="state_update_fq" value="30" />


            <param name="position_controller/kp" value="-2.00" />
            <param name="position_controller/kd" value="-0.05" />
            <param name="position_controller/ki" value="0.00" />
            <param name="position_controller/minVal" value="-500" />
            <param name="position_controller/maxVal" value="500" />
            <param name="position_controller/goal_tolerance" value="0.05"/>

            <param name="orientation_controller/kp" value="-15.0" />
            <param name="orientation_controller/kd" value="-5.00" />
            <param name="orientation_controller/ki" value="0.0" />
            <param name="orientation_controller/minVal" value="-500" />
            <param name="orientation_controller/maxVal" value="500" />
            <param name="orientation_controller/goal_tolerance" value="0.01"/>

            <!-- change this setting for each robot-->
            <param name="robot_frame" value="tag21" />
            <param name="control_topic_pub" value="/roomba21/cmd_vel" />
            <param name="goal_topic_sub" value="/roomba21/goal" />
            <param name="robot_index" value="21" />
        </node>

        <node pkg="roomba_control" type="roomba.py" name="roomba_action" output="screen">
            <!-- control_topic_pub should be the same as the roomba_control_node -->
            <param name="control_topic_pub" value="roomba21/cmd_vel"/>
        </node>
    </group>
   
</launch>


